<h2>BTC-E Price</h2>

<!--         <p>Time: <%= @btce.json["btc_usd"]["updated"] %></p> -->
  <p>Price Low: <%= number_to_currency(@btce.json["btc_usd"]["low"]) %></p>
  <p>Price High: <%= number_to_currency(@btce.json["btc_usd"]["high"]) %></p>
  <p>Current Price : <%=  number_to_currency(@btce.json["btc_usd"]["last"]) %></p>
  <p>Buying Price: <%=  number_to_currency(@btce.json["btc_usd"]["buy"]) %></p>
  <p>Selling Price: <%=  number_to_currency(@btce.json["btc_usd"]["sell"]) %></p>
  <p>Current Volume: <%= @btce.json["btc_usd"]["vol_cur"] %></p>



<h2>BitStamp Price</h2>

  <p>Price Low: <%= number_to_currency(@bitstamp.low) %></p>
  <p>Price High: <%= number_to_currency(@bitstamp.high) %></p>
  <p>Current Price : <%=  number_to_currency(@bitstamp.last) %></p>
  <p>Buying Price: <%=  number_to_currency(@bitstamp.ask) %></p>
  <p>Selling Price: <%=  number_to_currency(@bitstamp.bid) %></p>
  <p>Current Volume: <%= @bitstamp.volume %></p>


<h2>MT.GOX Price</h2>

  <p>Price Low: <%= number_to_currency(@mtgox.low) %></p>
  <p>Price High: <%= number_to_currency(@mtgox.high) %></p>
  <p>Current Price : <%=  number_to_currency(@mtgox.price) %></p>
  <p>Buying Price: <%=  number_to_currency(@mtgox.buy) %></p>
  <p>Selling Price: <%=  number_to_currency(@mtgox.sell) %></p>
  <p>Previous Price: <%=  number_to_currency(@mtgox.previous_price) %></p>
  <p>Current Volume: <%= @mtgox.volume %></p>


<h2>Coinbase Price</h2>
  <p>Buying Price: <%=  @coinbase_buy  %></p>
  <p>Selling Price: <%=  @coinbase_buy  %></p>
  

<br>
